In [ ]:
!pip install mysql.connector

In [ ]:
import json
import mysql.connector

In [ ]:
f = open('maryland_congressional_districts.json')
data = json.load(f)

In [ ]:
mydb = mysql.connector.connect(
  host='mysql3.cs.stonybrook.edu',
  user='MothBalls',
  password='changeit',
  database='MothBalls'
)
mycursor = mydb.cursor()

for feature in data['features']:
  properties = feature['properties']
  print(properties)

INSERT POPULATION OBJECTS

In [ ]:
sql = "INSERT INTO population (\
geoid20, \
cvap_american_indian_population, \
cvap_asian_population, \
cvap_black_population, \
cvap_hawaiian_population, \
cvap_hispanic_population, \
cvap_other_population, \
cvap_total_population, \
cvap_white_population, \
democrat_voters, \
other_voters, \
republican_voters, \
total_american_indian_population, \
total_asian_population, \
total_black_population, \
total_hawaiian_population, \
total_hispanic_population, \
total_other_population, \
total_total_population, \
total_white_population, \
vap_american_indian_population, \
vap_asian_population, \
vap_black_population, \
vap_hawaiian_population, \
vap_hispanic_population, \
vap_other_population, \
vap_total_population, \
vap_white_population\
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [ ]:
for feature in data['features']:
  properties = feature['properties']
  val = (('2400' + properties['CD116']), \
         properties['CVAP_AMERICANINDIAN'], \
         properties['CVAP_ASIAN'], \
         properties['CVAP_BLACK'], \
         properties['CVAP_HAIWAIIAN'], \
         properties['CVAP_HISPANIC'], \
         properties['CVAP_OTHER'], \
         properties['CVAP_TOTAL'], \
         properties['CVAP_WHITE'], \
         properties['DEMOCRAT'], \
         properties['OTHER'], \
         properties['REPUBLICAN'], \
         properties['TOTAL_AMERICANINDIAN'], \
         properties['TOTAL_ASIAN'], \
         properties['TOTAL_BLACK'], \
         properties['TOTAL_HAWAIIAN'], \
         properties['TOTAL_HISPANIC'], \
         properties['TOTAL_OTHER'], \
         properties['TOTAL_TOTAL'], \
         properties['TOTAL_WHITE'], \
         properties['VAP_AMERICANINDIAN'], \
         properties['VAP_ASIAN'], \
         properties['VAP_BLACK'], \
         properties['VAP_HAWAIIAN'], \
         properties['VAP_HISPANIC'], \
         properties['VAP_OTHER'], \
         properties['VAP_TOTAL'], \
         properties['VAP_WHITE'] \
  )
  mycursor.execute(sql, val)
  mydb.commit()

INSERT CENSUS BLOCK OBJECTS

In [ ]:
# sql = "INSERT INTO census_block (\
# geoid20, \
# state, \
# congressional_district, \
# precinct_ID, \
# geometry_type, \
# geometry, \
# districting_plan\
# ) VALUES (%s,%s,%s,%s,%s,%s,%s)"

sql = "INSERT INTO census_block (\
geoid20, \
state, \
congressional_district, \
precinctid, \
geometry_type, \
geometry, \
districting_plan, \
congressional_districtid \
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"

In [ ]:
for feature in data['features']:
  val = (feature['properties']['GEOID20'], \
         feature['properties']['STATE'], \
         feature['properties']['CD116'], \
         feature['properties']['PRECINCTID'], \
         feature['geometry']['type'], \
         json.dumps(feature['geometry']['coordinates']), \
         0, \
         (str(feature['properties']['STATE']) + '00' + str(feature['properties']['CD116'])) \
  )
  mycursor.execute(sql, val)
  mydb.commit()

In [ ]:
sql = "INSERT INTO district (\
geoid20, \
state, \
congressional_district, \
districting_plan\
) VALUES (%s,%s,%s,%s)"

val = ('240001', '24', '01', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240002', '24', '02', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240003', '24', '03', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240004', '24', '04', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240005', '24', '05', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240006', '24', '06', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240007', '24', '07', 0)
mycursor.execute(sql, val)
mydb.commit()

val = ('240008', '24', '08', 0)
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
sql2 = 'DELETE FROM box_plot WHERE state = 24'
mycursor.execute(sql2)
mydb.commit()

In [ ]:
sql = "INSERT INTO districting_plan (\
id, \
state, \
districting_plan\
) VALUES (%s,%s,%s)"

val = ('2409', '24', 9)
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
sql = "INSERT INTO state (\
state, \
state_number\
) VALUES (%s,%s)"

val = ('Maryland', '24')
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
sql = "INSERT INTO districting_plan_statistics (\
id, \
state, \
redistrict_number, \
total_num_opportunity_districts, \
total_efficiency_gap, \
total_population_score, \
total_objective_function_score, \
total_absolute_difference_in_population, \
cvap_num_opportunity_districts, \
cvap_efficiency_gap, \
cvap_population_score, \
cvap_objective_function_score, \
cvap_absolute_difference_in_population, \
vap_num_opportunity_districts, \
vap_efficiency_gap, \
vap_population_score, \
vap_objective_function_score, \
vap_absolute_difference_in_population, \
num_congressional_districts \
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

val = ('2400', '24', 0, 2, 0.18, 0.32, 87, 0.3, 2, 0.18, 0.32, 87, 0.3, 2, 0.18, 0.32, 87, 0.3, 8)
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
sql = "INSERT INTO box_and_whisker (\
id, \
basis, \
state \
) VALUES (%s,%s,%s)"

val = ('2400', 0, '24')
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
sql = "INSERT INTO box_plot (\
id, \
whisker_position, \
state, \
basis, \
minimum, \
first_quartile, \
median, \
third_quartile, \
maximum \
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"

val = ('240001', 1, '24', 0, 350000, 450000, 500000, 600000, 650000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240002', 2, '24', 0, 450000, 550000, 600000, 700000, 750000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240003', 3, '24', 0, 550000, 650000, 700000, 800000, 950000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240004', 4, '24', 0, 650000, 750000, 800000, 900000, 1050000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240005', 5, '24', 0, 750000, 850000, 900000, 1000000, 1150000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240006', 6, '24', 0, 850000, 950000, 1000000, 1100000, 1250000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240007', 7, '24', 0, 950000, 1050000, 1100000, 1200000, 1350000)
mycursor.execute(sql, val)
mydb.commit()
val = ('240008', 8, '24', 0, 1050000, 1150000, 1200000, 1300000, 1450000)
mycursor.execute(sql, val)
mydb.commit()

In [ ]:
sql2 = "DROP TABLE box_plot;"
mycursor.execute(sql2)
mydb.commit()